/* Custom Properties */
:root{
    --primary-color: #3d5a80;
    --secondary-color: #98c1d9;
    --tertiary-color: #e0fbfc;
    --sub-color1: #ee6c4d;
    --sub-color2: #293241;
    --sub-color3: #CAFFBF;
    --sub-color4: #023E8A;

}

/* Finding Color Pallate
main
#3d5a80
#98c1d9
#e0fbfc
#ee6c4d
#293241
pastel green #CAFFBF
dark blue #023E8A

consider
deep teal #19747E
pastel pink #FFADAD  
light blue #90E0EF

furure
pale blue #CAF0F8
soft mint green #D1E8E2
light sky blue #A9D6E5 
light gray #E2E2E2
*/

/* General */
* {
    color: #e0fbfc;
}
.navBar{
    text-align: center;
    background-color: var(--sub-color2);
}

.navBar a{
    margin: 0px 100px;
}

.linksImg{
    height: 120px;
    margin: auto;
}



body{
    background-color: var(--secondary-color);
}

.sethTobias{

}
/* Index */
.gridDisplay  {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  70% 20% 10%;
}

.d1 {
    grid-row: 1;
    text-align: center;
}

.d1 p {
    margin: auto;
    font-size: 22px;
}

.heading {
    text-decoration: underline;
}

.indexContent {
    height: 22%;
    width: 22%;
    background-color: #3d5a80;
    border: #e0fbfc 8px double;
}
.navIndex {
    grid-row: 2;
    text-align: center;
}

.indexHover {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.d2 {
    grid-row: 3;
}

/* About */

/* Product */

/* Admin */

/* Contact */
